* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  
  body {
    font-weight: lighter;
    font-size: 16px;
    text-align: left;
    background-image: url("../Imagenes/fondoplaneacion.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100% ;
    font-family: Helvetica, Arial, sans-serif; }
  h1{
    text-align: center
  }
  a {
    color: #FF4136; }
  
  .wrap {
    background: rgb(255, 255, 255);
    font-weight: lighter;
    width: 90%;
    max-width: 1000px;
    margin: auto; }
  
  .info {
    
    font-weight: lighter;
    text-align: left;
    padding: 20px;
    color: #121213;
    border-bottom: 1px solid #ccc; }

    .wrap h2 {
        font-size: 16px;
        color: #010910;
        margin-bottom: 20px;
        margin-left: 20px; }
    .info p {
          margin-top: 20px; }
  
        /* --------------------------------------- */
        /* ----- Radio Button */
        /* --------------------------------------- */
        /* --------------------------------------- */
        /* ----- Checkbox */
        /* --------------------------------------- */ 
     .formulario{
        font-weight: lighter;
        text-align: left;
        background-color: #ffffff;
     }
    .formulario h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
    .formulario h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 10px;
        margin-left: 20px; }
        .formulario h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
    .formulario > div {
         padding: 10px 0;
        border-bottom: 1px solid #ccc; }
    .formulario .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 1px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .formulario .radio label:hover {
        background: rgba(255, 65, 54, 0.1); }
    .formulario .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
    .formulario input[type="radio"][id="Abrir"] {
        display: none; }
    .formulario input[id="Abrir"][type="radio"]:checked + label:before {
        display: none; }
    .formulario input[id="Abrir"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

    .formulario input[id="Parar"][type="radio"] {
        display: none; }
    .formulario input[id="Parar"][type="radio"]:checked + label:before {
        display: none; }
    .formulario input[id="Parar"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

    .formulario input[type="radio"] {
        display: none; }
    .formulario input[type="radio"]:checked + label:before {
        display: none; }
    .formulario input[type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }
                
       
          
      /*#Pregunta2*/
      .pregunta2{
        text-align: left;
    }
      .pregunta2 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
      .pregunta2 h3 {
        font-size: 16px;
        color:#1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta2 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
      .pregunta2 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
      .pregunta2 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta2 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta2 .radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          border-radius: 50%;
          background: none;
          border: 3px solid #020212; }
        .pregunta2 input[type="radio"][id="Abrir1"] {
        display: none; }
        .pregunta2 input[id="Abrir1"][type="radio"]:checked + label:before {
          display: none; }
        .pregunta2 input[id="Abrir1"][type="radio"]:checked + label {
          padding: 5px 15px;
          background: #530603;
          border-radius: 2px;
          color: #fff; }

        .pregunta2 input[id="Parar1"][type="radio"] {
          display: none; }
        .pregunta2 input[id="Parar1"][type="radio"]:checked + label:before {
          display: none; }
        .pregunta2 input[id="Parar1"][type="radio"]:checked + label {
          padding: 5px 15px;
          background: #600968;
          border-radius: 2px;
          color: #fff; }

        .pregunta2 input[id="Fechar1"][type="radio"] {
          display: none; }
        .pregunta2 input[id="Fechar1"][type="radio"]:checked + label:before {
          display: none; }
        .pregunta2 input[id="Fechar1"][type="radio"]:checked + label {
          padding: 5px 15px;
          background: #08ad15;
          border-radius: 2px;
          color: #fff; }
  
    /*#Pregunta3*/
    .pregunta3{
        text-align: left;
    }
    .pregunta3 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
    .pregunta3 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta3 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
      .pregunta3 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
      .pregunta3 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta3 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta3 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
        .pregunta3 input[type="radio"][id="Abrir2"] {
        display: none; }
        .pregunta3 input[id="Abrir2"][type="radio"]:checked + label:before {
          display: none; }
        .pregunta3 input[id="Abrir2"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta3 input[id="Parar2"][type="radio"] {
        display: none; }
        .pregunta3 input[id="Parar2"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta3 input[id="Parar2"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta3 input[id="Fechar2"][type="radio"] {
        display: none; }
        .pregunta3 input[id="Fechar2"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta3 input[id="Fechar2"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }
  
     /*#Pregunta4*/
        .pregunta4{
        text-align: left;
                    }
        .pregunta4 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }                 
        .pregunta4 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta4 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta4 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta4 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta4 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta4 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
        .pregunta4 input[type="radio"][id="Abrir3"] {
        display: none; }
        .pregunta4 input[id="Abrir3"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta4 input[id="Abrir3"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta4 input[id="Parar3"][type="radio"] {
        display: none; }
        .pregunta4 input[id="Parar3"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta4 input[id="Parar3"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta4 input[id="Fechar3"][type="radio"] {
        display: none; }
        .pregunta4 input[id="Fechar3"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta4 input[id="Fechar3"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }
        
    /*#Pregunta5*/
         .pregunta5{
        text-align: left;
         }
        .pregunta5 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }                 
        .pregunta5 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta5 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
        .pregunta5 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
        .pregunta5 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta5 .radio label:hover {
        background: rgba(255, 65, 54, 0.1); }
        .pregunta5 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta5 input[type="radio"][id="Abrir4"] {
        display: none; }
        .pregunta5 input[id="Abrir4"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta5 input[id="Abrir4"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta5 input[id="Parar4"][type="radio"] {
        display: none; }
        .pregunta5 input[id="Parar4"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta5 input[id="Parar4"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta5 input[id="Fechar4"][type="radio"] {
        display: none; }
        .pregunta5 input[id="Fechar4"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta5 input[id="Fechar4"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }

      
        /*#Pregunta6*/
        .pregunta6{
            text-align: left;
        }
        .pregunta6 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta6 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta6 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
        .pregunta6 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
        .pregunta6 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta6 .radio label:hover {
        background: rgba(255, 65, 54, 0.1); }
        .pregunta6 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
        .pregunta6 input[type="radio"][id="Abrir5"] {
        display: none; }
        .pregunta6 input[id="Abrir5"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta6 input[id="Abrir5"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }
                
        .pregunta6 input[id="Parar5"][type="radio"] {
        display: none; }
        .pregunta6 input[id="Parar5"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta6 input[id="Parar5"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }
                
        .pregunta6 input[id="Fechar5"][type="radio"] {
        display: none; }
        .pregunta6 input[id="Fechar5"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta6 input[id="Fechar5"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
         color: #fff; }

                                    
        /*#Pregunta7*/
        .pregunta7{
            text-align: left;
        }
        .pregunta7 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta7 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta7 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta7 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta7 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta7 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta7 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta7 input[type="radio"][id="Abrir6"] {
        display: none; }
        .pregunta7 input[id="Abrir6"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta7 input[id="Abrir6"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta7 input[id="Parar6"][type="radio"] {
        display: none; }
        .pregunta7 input[id="Parar6"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta7 input[id="Parar6"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta7 input[id="Fechar6"][type="radio"] {
        display: none; }
        .pregunta7 input[id="Fechar6"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta7 input[id="Fechar6"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }

         /*#Pregunta8*/
         .pregunta8{
            text-align: left;
        }
        .pregunta8 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta8 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta8 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta8 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta8 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta8 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta8 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta8 input[type="radio"][id="Abrir7"] {
        display: none; }
        .pregunta8 input[id="Abrir7"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta8 input[id="Abrir7"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta8 input[id="Parar7"][type="radio"] {
        display: none; }
        .pregunta8 input[id="Parar7"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta8 input[id="Parar7"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta8 input[id="Fechar7"][type="radio"] {
        display: none; }
        .pregunta8 input[id="Fechar7"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta8 input[id="Fechar7"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }
            /*#Pregunta9*/
         .pregunta9{
            text-align: left;
        }
        .pregunta9 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta9 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta9 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta9 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta9 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta9 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta9 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta9 input[type="radio"][id="Abrir8"] {
        display: none; }
        .pregunta9 input[id="Abrir8"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta9 input[id="Abrir8"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta9 input[id="Parar8"][type="radio"] {
        display: none; }
        .pregunta9 input[id="Parar8"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta9 input[id="Parar8"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta9 input[id="Fechar8"][type="radio"] {
        display: none; }
        .pregunta9 input[id="Fechar8"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta9 input[id="Fechar8"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }

        /*#Pregunta10*/
        .pregunta10{
            text-align: left;
        }
        .pregunta10 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta10 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta10 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta10 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta10 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta10 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta10 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta10 input[type="radio"][id="Abrir9"] {
        display: none; }
        .pregunta10 input[id="Abrir9"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta10 input[id="Abrir9"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta10 input[id="Parar9"][type="radio"] {
        display: none; }
        .pregunta10 input[id="Parar9"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta10 input[id="Parar9"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta10 input[id="Fechar9"][type="radio"] {
        display: none; }
        .pregunta10 input[id="Fechar9"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta10 input[id="Fechar9"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }

        /*#Pregunta11*/
        .pregunta11{
            text-align: left;
        }
        .pregunta11 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta11 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta11 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta11 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta11 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta11 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta11 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta11 input[type="radio"][id="Abrir10"] {
        display: none; }
        .pregunta11 input[id="Abrir10"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta11 input[id="Abrir10"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta11 input[id="Parar10"][type="radio"] {
        display: none; }
        .pregunta11 input[id="Parar10"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta11 input[id="Parar10"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta11 input[id="Fechar10"][type="radio"] {
        display: none; }
        .pregunta11 input[id="Fechar10"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta11 input[id="Fechar10"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }

        /*#Pregunta12*/
        .pregunta12{
            text-align: left;
        }
        .pregunta12 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta12 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta12 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta12 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta12 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta12 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta12 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta12 input[type="radio"][id="Abrir11"] {
        display: none; }
        .pregunta12 input[id="Abrir11"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta12 input[id="Abrir11"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta12 input[id="Parar11"][type="radio"] {
        display: none; }
        .pregunta12 input[id="Parar11"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta12 input[id="Parar11"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta12 input[id="Fechar11"][type="radio"] {
        display: none; }
        .pregunta12 input[id="Fechar11"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta12 input[id="Fechar11"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }

        /*#Pregunta13*/
        .pregunta13{
            text-align: left;
        }
        .pregunta13 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta13 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta13 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta13 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta13 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta13 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta13 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta13 input[type="radio"][id="Abrir12"] {
        display: none; }
        .pregunta13 input[id="Abrir12"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta13 input[id="Abrir12"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta13 input[id="Parar12"][type="radio"] {
        display: none; }
        .pregunta13 input[id="Parar12"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta13 input[id="Parar12"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta13 input[id="Fechar12"][type="radio"] {
        display: none; }
        .pregunta13 input[id="Fechar12"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta13 input[id="Fechar12"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }

        /*#Pregunta14*/
        .pregunta14{
            text-align: left;
        }
        .pregunta14 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta14 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta14 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta14 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta14 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta14 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta14 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta14 input[type="radio"][id="Abrir13"] {
        display: none; }
        .pregunta14 input[id="Abrir13"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta14 input[id="Abrir13"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta14 input[id="Parar13"][type="radio"] {
        display: none; }
        .pregunta14 input[id="Parar13"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta14 input[id="Parar13"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta14 input[id="Fechar13"][type="radio"] {
        display: none; }
        .pregunta14 input[id="Fechar13"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta14 input[id="Fechar13"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }

        /*#Pregunta15*/
        .pregunta15{
            text-align: left;
        }
        .pregunta15 h2 {
        font-size: 18px;
        color: #001F3F;
        margin-bottom: 5px;
        margin-left: 5px; }
        .pregunta15 h3 {
        font-size: 16px;
        color: #1d1f21;
        margin-bottom: 20px;
        margin-left: 20px; }
        .pregunta15 h4 {
          font-size: 16px;
          color: #06651a;
          margin-bottom: 10px;
          margin-left: 5px; }
       .pregunta15 > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc; }
       .pregunta15 .radio label {
        display: inline-block;
        cursor: pointer;
        color: #161514;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .pregunta15 .radio label:hover {
         background: rgba(255, 65, 54, 0.1); }
        .pregunta15 .radio label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #020212; }
       .pregunta15 input[type="radio"][id="Abrir14"] {
        display: none; }
        .pregunta15 input[id="Abrir14"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta15 input[id="Abrir14"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #530603;
        border-radius: 2px;
        color: #fff; }

        .pregunta15 input[id="Parar14"][type="radio"] {
        display: none; }
        .pregunta15 input[id="Parar14"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta15 input[id="Parar14"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #600968;
        border-radius: 2px;
        color: #fff; }

        .pregunta15 input[id="Fechar14"][type="radio"] {
        display: none; }
        .pregunta15 input[id="Fechar14"][type="radio"]:checked + label:before {
        display: none; }
        .pregunta15 input[id="Fechar14"][type="radio"]:checked + label {
        padding: 5px 15px;
        background: #08ad15;
        border-radius: 2px;
        color: #fff; }
        /*Boton de envío*/
        .frame {
            width: 90%;
            margin: 40px auto;
            text-align: center;
          }
          button {
            margin: 20px;
          }
          .custom-btn {
            width: 130px;
            height: 40px;
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
             box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
             7px 7px 20px 0px rgba(0,0,0,.1),
             4px 4px 5px 0px rgba(0,0,0,.1);
            outline: none;
          }
   /* 15 */
.btn-15 {
    background: #b621fe;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  #gracias{
    background-image: url(../Imagenes/Planeacionestrategica.png);
    background-repeat:no-repeat ;
    background-size: cover;
	width: 1350px;
	height: 480px;
}